<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
  <body style="background-color:#ffffff;">

<!--header-->
    <table width="680" align="center" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="border-collapse:collapse;">
      <tr>
        <td width="317" height="110">
          <div style="width:317px; height:110px">
            <img alt="Garage" title="Garage" src="http://v2.garage.server.garin.su/images/garage-mail/i/logo.png" border="0" width="316" height="107">
          </div>
        </td>
        <td width="363" height="110" align="right" valign="bottom">
          <span style="font-family:Arial; font-size:12px; color:#747474; text-decoration:none">
            <a style="font-family:Arial; font-size:12px; color:#747474!important; text-decoration:none" target="_blank" href="#">Посмотреть в браузере</a>
          </span>
        </td>
      </tr>
      <tr><td><div style="height:30px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="30" width="10"></div></td></tr>
    </table>
<!--header ends-->

<!--title1-->
    <table width="680" align="center" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="border-collapse:collapse;">
      <tr style="border-top:1px solid #b4b4b4; border-bottom:1px solid #b4b4b4">
        <td height="40" valign="middle"><span style="text-transform:uppercase; font-family:Arial; font-size:18px; font-weight:bold; color:#000000; line-height:1;">Выставки</span></td>
      </tr>
      <tr><td><div style="height:30px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="30" width="10"></div></td></tr>
    </table>
<!--title1 ends-->

<!--block1-->
    <table width="680" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#ffffff;">
      <tr>
        <td>
          <div style="width:680px; height:280px;"><img alt="Прерафаэлиты и современное британское искусство" title="Прерафаэлиты и современное британское искусство" src="http://v2.garage.server.garin.su/images/garage-mail/content/001.jpg" border="0" width="680" height="280"></div>
        </td>
      </tr>
      <tr><td><div style="height:20px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="20" width="10"></div></td></tr>
      <tr><td><span style="font-family:Arial; font-size:14px; color:#000000; text-transform:uppercase; font-weight:bold">Прерафаэлиты и современное британское искусство</span></td></tr>
      <tr><td><div style="height:10px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="10" width="10"></div></td></tr>
      <tr>
        <td style="line-height:1;">
          <span style="font-family:Arial; font-size:12px; color:#2e2e2e;">
          1 августа, в четверг, Центр «Гараж» и Британский совет организуют событие, посвященное удожникам-прерафаэлитам: в течение всего вечера в Образовательном центре «Гараж» и летнем павильоне пройдут разнообразные мероприятия, которые отразят актуальность прерафаэлитов и их влияние на современную культуру.
          <br><br>
          Братство прерафаэлитов, основанное в 1848 году в Англии, можно по праву считать первым авангардным движением в Европе. Данте Габриэль Россетти, Уильям Холман Хант, Джон Эверетт Миллес и их последователи произвели революцию в Викторианскую эпоху, изменив традиционные представления об изобразительном искусстве.
          </span>
        </td>
      </tr>
      <tr><td><div style="height:20px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="20" width="10"></div></td></tr>
      <tr>
        <td width="103" height="23">
          <div style="height:23px; width:103px">
            <a href="#" style="text-decoration:none" target="_blank">
              <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/buy-btn-ru.gif" alt="Купить билет" title="Купить билет" height="23" width="103">
            </a>
          </div>
        </td>
      </tr>
      <tr><td><div style="height:40px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="40" width="10"></div></td></tr>
    </table>
<!--block1 ends-->

<!--title2-->
    <table width="680" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#ffffff;">
      <tr style="border-top:1px solid #b4b4b4; border-bottom:1px solid #b4b4b4">
        <td height="40" valign="middle"><span style="text-transform:uppercase; font-family:Arial; font-size:18px; font-weight:bold; color:#000000; line-height:1;">Заголовок</span></td>
      </tr>
      <tr><td><div style="height:30px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="30" width="10"></div></td></tr>
    </table>
<!--title2 ends-->

<!--block2-->
    <table width="680" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#ffffff;">
      <tr bgcolor="#f9f9f9">
        <td width="350" height="280">
          <div style="width:350px; height:280">
            <img alt="Купи осень" title="Купи осень" src="http://v2.garage.server.garin.su/images/garage-mail/content/002.jpg" border="0" width="350" height="280">
          </div>
        </td>
        <td width="20"><div style="width:20;"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" width="20"></div></td>
        <td style="line-height:1;">
          <span style="font-family:Arial; font-size:12px; color:#545454;">26.06.13 / 18.09.13</span>
          <br><br>
          <span style="font-family:Arial; font-size:14px; color:#000000; text-transform:uppercase; font-weight:bold">КУПИ ОСЕНЬ: ДЕТСКАЯ, СЕМЕЙНАЯ И ВЗРОСЛАЯ ОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА ЦЕНТРА «ГАРАЖ»</span>
          <table width="290" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#f9f9f9;">
            <tr><td><div style="height:30px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="30" width="10"></div></td></tr>
            <tr>
              <td height="23">
                <div style="height:23px;">
                  <a href="#" style="text-decoration:none" target="_blank">
                    <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/buy-btn-ru.gif" alt="Купить билет" title="Купить билет" height="23" width="103">
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </td>
        <td width="20"><div style="width:20;"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" width="20"></div></td>
      </tr>
      <tr><td><div style="height:20px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="20" width="10"></div></td></tr>
      <tr>
        <td colspan="4" style="line-height:1;">
          <span style="font-family:Arial; font-size:12px; color:#2e2e2e;">Запущена продажа абонементов на семейный курс, направленный на развитие одного из важнейших навыков – умения слушать и слышать.</span>
          <br><br>
          <span style="font-family:Arial; font-size:12px; color:#2e2e2e;">Первый блок занятий познакомит слушателей с понятиями звука, ритма, расскажет, как появились ноты, какие существуют виды музыкальных театров и в чем особенность музыки в кинофильмах. Второй блок занятий посвящен истории музыки.</span>
          <br><br>
          <span style="font-family:Arial; font-size:12px; color:#2e2e2e;">Участники курса получат возможность познакомиться со специфическим миром музыки, и попробуют не только услышать, но и увидеть его в соединении с театром, живописью, танцем и архитектурой. Каждое занятие включает в себя теорию и практику. С 21 сентября, по субботам,  для детей от 8 лет и их родителей.</span>
        </td>
      </tr>
      <tr style="border-bottom:1px solid #b4b4b4"><td colspan="4"><div style="height:20px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="20" width="10"></div></td></tr>
      <tr><td colspan="4"><div style="height:30px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="30" width="10"></div></td></tr>
    </table>
<!--block2 ends-->

<!--block3-->
    <table width="680" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#ffffff;">
      <tr bgcolor="#f9f9f9">
        <td width="335" height="280">
          <div style="width:335px; height:280">
            <img style="display:block" alt="Цикл концертных перформансов" title="Цикл концертных перформансов" src="http://v2.garage.server.garin.su/images/garage-mail/content/003.jpg" border="0" width="335" height="280">
          </div>
        </td>
        <td width="20"><div style="width:20;"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" width="20"></div></td>
        <td style="line-height:1;">
          <span style="font-family:Arial; font-size:12px; color:#545454;">26.06.13 / 18.09.13</span>
          <br><br>
          <span style="font-family:Arial; font-size:14px; color:#000000; text-transform:uppercase; font-weight:bold">Цикл концертных перформансов «Свободное время»</span>
          <br><br>
          <span style="font-family:Arial; font-size:12px; color:#2e2e2e;">31 июля, в среду, в 20:00 в рамках цикла концертных перформансов «Свободное время» впервые в России будут исполнены произведения Карлхайнца Штокхаузена «Refrain» (1959) и «Kontakte» (1958-1960).</span>
          <table width="305" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#f9f9f9;">
            <tr><td><div style="height:15px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="15" width="10"></div></td></tr>
            <tr>
              <td width="305" height="23">
                <div style="height:23px; width:305px">
                  <a href="#" style="text-decoration:none" target="_blank">
                    <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/buy-btn-ru.gif" alt="Купить билет" title="Купить билет" height="23" width="103">
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </td>
        <td width="20"><div style="width:20;"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" width="20"></div></td>
      </tr>
      <tr><td><div style="height:30px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="30" width="10"></div></td></tr>
    </table>
<!--block3 ends-->

<!--block4-->
    <table width="680" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#ffffff;">
      <tr>
        <td style="background-color:#f9f9f9;" width="335" valign="top">
          <table width="335" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
            <tr>
              <td>
                <div style="width:335px; height:220">
                  <img alt="Купи осень" title="Купи осень" src="http://v2.garage.server.garin.su/images/garage-mail/content/004.jpg" border="0" width="335" height="220">
                </div>
              </td>
            </tr>
            <tr><td><div style="height:10px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="10" width="10"></div></td></tr>
            <tr><td><span style="font-family:Arial; font-size:12px; color:#545454;">06.09.13</span></td></tr>
            <tr><td><div style="height:5px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="5" width="10"></div></td></tr>
            <tr>
              <td style="line-height:1;">
                <span style="font-family:Arial; font-size:14px; color:#000000; text-transform:uppercase; font-weight:bold;">
                КУПИ ОСЕНЬ: ДЕТСКАЯ, СЕМЕЙНАЯ И ВЗРОСЛАЯ ОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА ЦЕНТРА «ГАРАЖ»
                </span>
                <table width="335" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#f9f9f9;">
                  <tr><td><div style="height:15px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="15" width="10"></div></td></tr>
                  <tr>
                    <td width="335" height="23">
                      <div style="height:23px; width:335px">
                        <a href="#" style="text-decoration:none" target="_blank">
                          <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/buy-btn-ru.gif" alt="Купить билет" title="Купить билет" height="23" width="103">
                        </a>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td><div style="height:25px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="20" width="10"></div></td></tr>
          </table>
        </td>
        <td><div style="height:20px; width:10;"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="20" width="10"></div></td>
        <td style="background-color:#f9f9f9;" width="335" valign="top">
          <table width="335" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
            <tr>
              <td>
                <div style="width:335px; height:220">
                  <img alt="Купи осень" title="Купи осень" src="http://v2.garage.server.garin.su/images/garage-mail/content/005.jpg" border="0" width="335" height="220">
                </div>
              </td>
            </tr>
            <tr><td><div style="height:10px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="10" width="10"></div></td></tr>
            <tr><td><span style="font-family:Arial; font-size:12px; color:#545454;">06.09.13</span></td></tr>
            <tr><td><div style="height:5px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="5" width="10"></div></td></tr>
            <tr>
              <td style="line-height:1;">
                <span style="font-family:Arial; font-size:14px; color:#000000; text-transform:uppercase; font-weight:bold;">
                  Котлета по-киевски. Прогулка от выставочного павильона Центра «Гараж» до Киевского вокзала
                </span>
                <table width="335" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#f9f9f9;">
                  <tr><td><div style="height:15px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="15" width="10"></div></td></tr>
                  <tr>
                    <td width="335" height="23">
                      <div style="height:23px; width:335px">
                        <a href="#" style="text-decoration:none" target="_blank">
                          <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/buy-btn-ru.gif" alt="Купить билет" title="Купить билет" height="23" width="103">
                        </a>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td><div style="height:25px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="20" width="10"></div></td></tr>
          </table>
        </td>
      </tr>
      <tr><td><div style="height:30px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="30" width="10"></div></td></tr>
    </table>
<!--block4 ends-->

<!--footer-->
    <table width="680" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#ffffff;">
      <tr style="border-top:1px solid #b4b4b4; border-bottom:1px solid #b4b4b4;">
        <td width="34" height="55">
          <div style="height:24px; width:24px">
            <a href="#" style="text-decoration:none" target="_blank">
              <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/fb.gif" alt="facebook" title="facebook" height="24" width="24">
            </a>
          </div>
        </td>
        <td width="34" height="55">
          <div style="height:24px; width:24px">
            <a href="#" style="text-decoration:none" target="_blank">
              <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/tw.gif" alt="twitter" title="twitter" height="24" width="24">
            </a>
          </div>
        </td>
        <td width="34" height="55">
          <div style="height:24px; width:24px">
            <a href="#" style="text-decoration:none" target="_blank">
              <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/ins.gif" alt="instagram" title="instagram" height="24" width="24">
            </a>
          </div>
        </td>
        <td width="34" height="55">
          <div style="height:24px; width:24px">
            <a href="#" style="text-decoration:none" target="_blank">
              <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/vk.gif" alt="vk" title="vk" height="24" width="24">
            </a>
          </div>
        </td>
        <td width="34" height="55">
          <div style="height:24px; width:24px">
            <a href="#" style="text-decoration:none" target="_blank">
              <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/yt.gif" alt="youtube" title="youtube" height="24" width="24">
            </a>
          </div>
        </td>
        <td width="34" height="55">
          <div style="height:24px; width:24px">
            <a href="#" style="text-decoration:none" target="_blank">
              <img border="0" src="http://v2.garage.server.garin.su/images/garage-mail/i/l.gif" alt="l" title="l" height="24" width="24">
            </a>
          </div>
        </td>
        <td align="right">
          <span style="font-family:Arial; font-size:12px; color:#2e2e2e;">Будьте на связи! Следите за нашими новостями в социальных сетях</span>
        </td>
      </tr>
      <tr><td colspan="7"><div style="height:10px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="10" width="10"></div></td></tr>
      <tr>
        <td colspan="7">
          <span style="font-family:Arial; font-size:11px; color:#727272;">Центр современной культуры «Гараж»&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Москва, Парк Горького, Пионерский пруд&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;+7 (495) 645-05-20&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a style="font-family:Arial; font-size:11px; color:#727272!important;text-decoration:none!important" target="_blank" href="#">www.garageccc.com</a>
        </td>
      </tr>
      <tr><td><div style="height:10px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="10" width="5"></div></td></tr>
      <tr>
        <td colspan="7">
          <span style="font-family:Arial; font-size:11px; color:#6c76ff; text-decoration:none">
            <a style="font-family:Arial; font-size:11px; color:#6c76ff!important;" target="_blank" href="#">I would like to receive the newsletter in English</a>
          </span>
        </td>
      </tr>
      <tr><td><div style="height:2px"><img src="http://v2.garage.server.garin.su/images/garage-mail/i/bl.gif" alt="" border="0" height="5" width="2"></div></td></tr>
      <tr>
        <td colspan="7">
          <span style="font-family:Arial; font-size:11px; color:#6c76ff; text-decoration:none">
            <a style="font-family:Arial; font-size:11px; color:#bbbbbb!important;" target="_blank" href="#">Отписаться от рассылки</a>
          </span>
        </td>
      </tr>
    </table>
<!--footer ends-->
  </body>
</html>